.needs-validation{
	background-color: gray;
	padding-top: 20px;
	padding-bottom: 20px;
}

th, td{
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	height: 80px;
	width: 130px;
}